body{
	margin: 0;
}
a{
	color: #888;
	text-decoration: none;
}
a:hover{
	color: #666;
}
.main{
	margin: 80px auto auto auto;
	text-align: center;
	padding: 16px;
	width: 320px;
	background: #eee;
}
.login{
	text-align: center;
	margin: 16px auto auto auto;
}
#msg{
    font-size:12px; 
    color: red; 
    height: 20px;
}
.row{
	margin: 16px;
	text-align: left;
}
input[type="text"]{
	height: 32px;
	width: 100%;
	font-size: 18px;
}
input[type="password"]{
	height: 32px;
	width: 100%;
	font-size: 18px;
}
.loginBtn{
	background: #000;
	color: #fff;
	width: 80px;
	height: 40px;
	border: none;
	-webkit-appearance:none;
	float: left;
	font-size: 12px;
	line-height: 40px;
}
.regBtn{
	background: #999;
	color: #fff;
	width: 80px;
	height: 40px;
	border: none;
	-webkit-appearance:none;
	float: left;
	margin-left: 16px;
	font-size: 12px;
	line-height: 40px;
}
.btnsGroup{
    overflow: hidden; 
    width: 176px;
    margin: auto;
}